.box {
    width: 600px;
    height: 200px;

    background: radial-gradient(circle at top left, WHite, yellow)
}

.box2 {
    margin-top;
    width: 600px;
    height: 200px;

    background-image: linear-gradient(180deg, yellow, red);
}